.container{
  display:flex;
  flex-direction: column;
  height:100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
h1{
  font-size: 8rem;
}
.buttons{
  display:flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
}

button{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: darkcyan;
  color: wheat;
  font-size: 2.2rem;
}