.container{
    width: 100vww;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    background-color: pink;
    gap: 10px;
    padding: 10px;
}

.grid > div{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}